 @model CategoryViewModel
@{
    int i = 0;
    ViewBag.Title = Model.Category.Name + " | " + Config.CompanyName;
    ViewBag.Description = Model.Category.MetaDescription;
    ViewBag.Keywords = Model.Category.MetaKeyords;
}
   <section class="cat-main">
        <div class="container ">

            
            <details>
            <summary class="btn">
                <h5 class="btn btn-outline-dark">Інші категорії</h5>
                </summary>
            <div class="category__list">
                @foreach (var item in Model.Categories.Where(x => x.Id != Model.Category.Id))
                {
                    <a class="category__list__item" asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                }

            </div>
            </details>

            

        <hr>

            <section class="products">
                <div class="container">
                    <div class="product__header border-bottom">
                        <h2>@Model.Category.Name</h2>
                    </div>

                    <!-- PRODUCTS -->

                    <div class="d-flex product__container container mt-5 col-12">

                    @if (Model.Products.Any())
                    {
                        @foreach (var item in Model.Products)
                        {
                            @await Html.PartialAsync("ProductCardPartial", item)
                        }
                    }
                    else
                    {
                        <p>This is no products in this category</p>
                    }


                    </div>
                </div>
            </section>
        </div>
    </section>

<section class="text">
    <div class="container">
        <h2>@Html.Raw(Model.Category.Name)</h2>
        <details>
            <summary>@Model.Category.Subtitle</summary>
            @Html.Raw(Model.Category.Description)
        </details>
    </div>
</section>