@model Product

<a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@Model.Id">
  <div class="card p-3 bg-white">
    <div class="about-product text-center mt-2"><img src="~/images/products/@Model.TitleImagePath" class="col-12">
      <div>
        <h4>@Model.Name</h4>
      </div>
    </div>
     <div class="stats mt-2">
        <div>
            <span>Original number: @Model.PartNumber</span>
        </div>
        </div>
    <div class="stats-subtitle mt-2">
      <div>
          <span>@Model.Subtitle</span>
      </div>
     </div>
    <div class="d-flex justify-content-between total font-weight-bold mt-4">
            <span>Price:</span><span><b>@Model.Price</b> uah</span>
        </div>
  </div>
</a>